<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" th:action="@{/blog/edit}" th:object="${blog}">
    <input name="id" th:field="*{id}" th:type="hidden">
    <table>
        <tr>
            <td>Title:</td>
            <td><input th:field="*{title}" type="text"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="category">
                    <option th:each="p : ${categories}"
                            th:selected="(${p.id} == *{category.id})"
                            th:text="${p.category}"
                            th:value="${p.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input th:field="*{content}" type="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>