<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog </title>
</head>
<body>
<a th:href="@{/blog/create}">Create new blog</a>
<a th:href="@{/category/create}">Create new category</a>
<h1>Blogs</h1>
<form>
    Search by title:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.content}"></td>
            <td><a th:href="@{/blog/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/blog/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number +1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/customers'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<br>
<h1 th:text="${'View count: ' + mycounter.getCount()}"></h1>
<footer th:replace="layout :: footer"></footer>
</body>
</html>